* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
}

/* OVERLAY */

h1 {
  color: white;
}

.index-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  padding-top:4rem;
  padding-left:4rem;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  color: #44e407;
  font-family: "Courier";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

/* typing animation */

a:hover {
  text-decoration: none;
}

/* mobile */
@media only screen and (max-width: 600px) {

  h1 {
    font-size: 5vw;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .index-wrapper {
    padding-top:1.5rem;
    padding-left:1.5rem;
  }

  .css-typing p {
    font-size: 2.5vw;
  }

}

@media only screen and (min-width: 600px) {
  
  h1 {
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .index-wrapper {
    padding-top:4rem;
    padding-left:4rem;
  }

  .css-typing p {
    font-size: 2vw;
  }

}

@media only screen and (min-width: 750px) {

  h1 {
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .css-typing p {
    font-size: 1.7vw;
  }

} 

@media only screen and (min-width: 992px) {

  .css-typing p {
    font-size: 14px;
  }

}

